@use "bulma/sass" with (
  $family-primary: '"Montserrat", sans-serif',
  $primary: #094369
);

html {
  scroll-behavior: smooth;
}

.table td {
  vertical-align: middle;
}

.is-fullheight {
  height: 100vh;
}

.compress {
  max-width: fit-content;
}