@use "bulma/sass" with (
  $family-primary: '"Montserrat", sans-serif',
  $primary: #094369,
  $table-background-color: #ffffff00
);

html {
  scroll-behavior: smooth;
}

.table td {
  vertical-align: middle;
}

.is-fullheight {
  height: 100vh;
}

.page-break-before {
  page-break-before: always;
}

.page-break-after {
  page-break-after: always;
}

.avoid-print-split,
.box {
  page-break-inside: avoid;
}

.print-only {
  display: none !important;
}

@media print {
  .no-print,
  .no-print *,
  .navbar,
  .footer,
  .button,
  .field {
    display: none !important;
  }

  *,
  .has-text-white {
    background-color: white !important;
    color: black !important;
  }

  a,
  .is-underlined {
    text-decoration: none !important;
  }

  .print-only {
    display: inline !important;
  }
}
