@use "bulma/sass" with (
  $family-primary: '"Montserrat", sans-serif', 
  $primary: #094369,
  $table-background-color: #ffffff00
);

html {
  scroll-behavior: smooth;
}

.table td {
  vertical-align: middle;
}

.is-fullheight {
  height: 100vh;
}

@media print
{    
  .no-print, .no-print *, .navbar, .footer, .button, .field
  {
    display: none !important;
  }

  *, .has-text-white {
    background-color: white !important;
    color: black !important;
  }
}
